@model Scarpe_Co.Models.Articolo

@{
    ViewBag.Title = "Dettagli";
}

<h2>Dettagli del Prodotto</h2>


<div class="container">
    <h4>@Model.Nome</h4>
    <p>Prezzo: € @Model.Prezzo</p>
    <p>Descrizione: @Model.DescrizioneDettagliata</p>
    <div id="carouselExample" class="carousel slide" style="max-width: 400px; margin: auto;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@Model.ImmagineCopertina" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="@Model.ImmagineAggiuntiva1" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="@Model.ImmagineAggiuntiva2" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <p>
        @Html.ActionLink("Torna alla Vetrina", "Vetrina", null, new { @class = "btn btn-primary" })
    </p>
</div>